{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Bihani Hostel</title>
        <!--favicon-->
        <link rel="icon" href={% static "images/icon.png" %}>
        <!--css files-->
        <link rel="stylesheet" href={% static "css/style.css" %}>
        <!--fonts files-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href={% static "vendor/fontawesome.css.css" %} >
    </head>
    <body>
              <!--Heading-->
              <header>
                    <h1><a href="#">Bihani Hostel</a></h1>
                    <!--Navigation-->
                    <nav>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Testimonial</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </nav>
                </header>
                <!--Main Section-->
        <section class="main">
                <div class="background-image" style="background-image:url(images/background.jpg);"></div>
                <div class="main-content">
                    <h1>Bihani Hostel</h1>
                    <h3>Come and stay awesome time with us</h3>
                    <!--button on the middle-->
                    <a href="#" class="btn">Contact Us </a>
                </div>
            </section>
            
        <!--Features Section-->
        <section class="features">
                <h3 class="title">Features</h3>
                <p>If you are a students,alone or with friends ,then Bihani Hostel is the right destination for you.</p>
                <hr>
                <!--List of Features-->
                <ul class="grid">
                  <li>
                    <i class="fa fa-coffee fa-4x"></i>
                    <h4>Hygienic Food</h4>
                    <!--description-->
                    <p></p>
                  </li>
                  <li>
                    <i class="fa fa-tint fa-4x"></i>
                    <h4>24 hours Water Facilities</h4>
                    <!--description-->
                    <p></p>
                    </li>
                  <li>
                    <i class="fa fa-wifi fa-4x"></i>
                    <h4>Free Internet Services</h4>
                    <!--description-->
                    <p></p>
                   </li>
                  <li>
                    <i class="fa fa-home fa-4x"></i>
                    <h4>Flexibility</h4>
                    <!--description-->
                    <p></p>
                    </li>
                </ul>            
        </section>

        <!--Testimonials Section -->
        <section class="testimonials">
                <h3 class="title">Testimonials from our customers</h3>
                <hr>
                <p class="quote">
                  I had a fantastic years staying in <em>Bihani hostel! </em>A really unique place, in a perfect location in Kathmandu. 
                  Awesome enviroment for students.
                 </p>
                <p class="author">-Aju Tamang</p>
    
                <p class="quote">
                    Location is <em>convenient</em>, it’s cheap and sociable without it being a party hostel.
                     Breakfast is also good. Bathrooms are ok. 
                </p>
                <p class="author">-Anil Khanal</p>
            </section>
    
            <!--Contact Section-->
            <section  class="contact">
              <h3 class="title">Learn more</h3>
              <p>Wanted to know more about us then ,please you can come in our office for more info.Thanks</p>
              <hr>
              <form>
                <input type="email" placeholder="Enter your Email for booking">
                <!--Book Button-->
                <a href="#" class="btn">Book now</a>
              </form>
            </section>
           
            <!--Footer Section-->
            <footer>
                <ul>
                    <li><h3>Follow Us</h3></li>
                    <li><a href="#"><i class="fa fa-twitter-square fa-20px"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square fa-20x"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-square fa-20x"></i></a></li>
                    
                  </ul>
              <h4> &copy; 2019 Copyright Bihani Hostel, Putalisadak, Kathmandu</h4>   
              
              <ul>
                <li>Phone Number</li>
                <li>98412345678</li>
              </ul>
            </footer>
    
        </body>
    </html>            