{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Bihani Hostel</title>
        <!--favicon-->
        <link rel="icon" href={% static "images/icon.png" %}>
        <!--css files-->
        <link rel="stylesheet" href={% static "css/style.css" %}>
        <!--fonts files-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href={% static "vendor/fontawesome.css.css" %} >
    </head>
    <body>
              <!--Heading-->
              <header>
                    <h1><a href="#">Bihani Hostel</a></h1>
                    <!--Navigation-->
                    <nav>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Testimonial</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </nav>
                </header>
                <!--Main Section-->
        <section class="main">
                <div class="background-image" style="background-image: url(images/background.jpg);"></div>
                <div class="main-content">
                    <h1>Bihani Hostel</h1>
                    <h3>Come and stay awesome time with us</h3>
                    <!--button on the middle-->
                    <a href="#" class="btn">Contact Us </a>
                </div>
            </section>
            