{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Bihani Hostel</title>
        <!--favicon-->
        <link rel="icon" href="icon.png">
        <!--css files-->
        <link rel="stylesheet" href={% static "css/style.css" %}>
        <!--fonts files-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href={% static "vendor/fontawesome.css.css" %} >
    </head>
    <body>
